@import '../../assets/fonts/font.css';

.openings {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 229.6px;
  padding-right: 162.4px;
  background-color: #f9f9fc;
}

.openingstext {
  flex-grow: 1;
}

.openingstext h2 {
  font-size: 4.375rem;
  font-family: 'Lato-Bold';
  font-weight: 500;
  line-height: 5.938rem;
  margin-bottom: 0;
}

.openingstext p {
  font-family: 'Inter-Regular';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0em;
  margin-right: 90px;
  margin-bottom: 30px;
}

.openingstext button {
  font-family: 'Inter-Regular';
  background-color: #6F63DE;
  width: 14.813rem;
  height: 3.563rem;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  border: none;
}
.buttonvector{
  margin-left: 2%;
}
.openingsimage {
  max-width: 100%;
  max-height: 100%;
}

.lifeatxgrid {
  text-align: center;
  padding-top: 96px;
  padding-left: 229.6px;
  padding-right: 162.4px;
  padding-bottom: 96px;
}

.lifeatxgrid h2 {
  font-size: 4.375rem;
  font-family: 'Lato-Bold';
  font-weight: 400;
  line-height: 73.5px;
  margin: 0;
  padding-bottom: 27px
}

iframe {
  max-width: 100%;
  min-width: 100%;
  max-height: 45rem;
  min-height: 45rem;
  border: none;
}

.reasons {
  padding: 5% 10%;
  background-color: #f9f9fc;
}

.reasons h2 {
  text-align: center;
  font-family: 'Lato-Bold';
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 105px;
  margin: 0 23%;
}

.reasonscontainer {
  margin: 7% 0;
  display: flex;
  justify-content: space-between;
}

.reasonitem1 div,
.reasonitem2 div {
  margin: 13% 0;
}

.reasonitem1 div>p {
  font-family: 'Inter-Semi-Bold';
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 2.438rem;
  letter-spacing: 0em;
  margin-right: 20%;
}

.reasonitem2 div>p {
  font-family: 'Inter-Semi-Bold';
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 2.438rem;
  letter-spacing: 0em;
  margin-right: 25%;
}

.growth {
  /* margin: 10% 10%; */
  padding-top:96px;
  padding-left: 229.6px;
  padding-right: 162.4px;
}

.growth h2 {
  text-align: center;
  font-family: 'Lato-Bold';
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 105px;
  letter-spacing: -0.02em;
  margin: 0 20%;
}

.growthcontainer {
  display: flex;
  margin: 5% 0;
}

.growthitem1 {
  margin-top: 8.5%;
}

.bestplace {
  font-family: 'Amanda';
  color: #71c9b9;
  font-size: 4.625rem;
  font-weight: 500;
  line-height: 5.938rem;
  transform: rotate(-20deg);
  margin-top: -25%;
  margin-left: 60%;
  margin-bottom: 0;
}

.growthitem2>img.growth2 {
  margin-left: -9%;
  margin-top: -5%;
}

.growthitem2>div>p {
  /* display: inline-block; */
  font-family: 'Inter-Semi-Bold';
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 2.438rem;
  letter-spacing: 0em;
  margin: 0% 5%;
}

.growthitem3>div {
  margin: 7% 7%;
}

.growthitem3>div>p {
  /* display: inline-block; */
  font-family: 'Inter-Semi-Bold';
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 2.438rem;
  letter-spacing: 0em;
  margin-left: 5%;
  margin-right: 25%;
}

.iconbox {
  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-top: 15%;
}


.iconbox img {
  width: 70px;
  height: 70px;
}


.footprint {
  padding: 3% 10%;
  background-color: #f9f9fc;
  text-align: center;
}

.footprint button {
  font-family: 'Inter-Regular';
  background-color: #6F63DE;
  width: 14.813rem;
  height: 3.563rem;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  border: none;
}

.footprinthead1 {
  font-family: 'Lato-Bold';
  font-size: 4.375rem;
  font-weight: 600;
  line-height: 94px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 0;
}

.footprint img {
  margin: 5% 0;
}

.footprint p {
  font-family: 'Inter-Regular';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 20%
}

.footprinthead2 {
  font-family: 'Lato-Bold';
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: -0.02em;
}

.formcontainer {
  padding: 3% 10%;
  display: flex;
  justify-content: space-between;
  background-color: #6F63DE;
  color: white;
}

.formcontainer h2 {
  font-family: 'Lato-Bold';
  font-size: 70px;
  font-weight: 600;
  line-height: 94px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-right: 10%;
}

.formcontainer p {
  font-family: 'Inter-Regular';
  margin-right: 15%;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.form {
  margin-left: 10%
}

.form input {
  font-family: 'Inter-Regular';
  outline: none;
  color: white;
  display: block;
  background-color: #6F63DE;
  border: none;
  border-bottom: 1px solid white;
  margin: 10% 0;
  padding: 3% 0;
  width: 500px;
  font-size: 18px
}

.form textarea {
  font-family: 'Inter-Regular';
  outline: none;
  color: white;
  display: block;
  background-color: #6F63DE;
  border: none;
  border-bottom: 1px solid white;
  margin: 10% 0;
  padding: 3% 0;
  width: 500px;
  font-size: 18px
}

::placeholder {
  color: white;
}

.form button {
  display: block;
  text-align: right;
  border: none;
  background-color: white;
  padding: 12px 48px 12px 48px;
  border-radius: 8px;
  font-family: 'Inter-Regular';
}

.formbutton {
  display: flex;
  justify-content: right;
}