@import '../../assets/fonts/font.css';

.header{
  display: flex;
  align-items: center;
  background-color: #f9f9fc;
  padding-top: 35px;
  padding-left: 230px;
  padding-right: 9.1rem;
}

.header .col2{
  flex-grow: 2;
  margin-left: 60px
}

.header .col2 ul{
  display: flex;
}

.header .col2 li{
  list-style-type: none;
  margin-left: 40px;
}
.header .col2 a{
  font-family: 'Inter-Regular';
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.newtab{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: 5px;
  vertical-align: middle;
}

.header .col3{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.header .col3 hr.top{
  width: 39px;
  border-top: 4px solid #6F63DE;
}

.header .col3 hr.bottom{
  width: 59px;
  margin-right: 20px;
  margin-top: 16px;
  border-top: 4px solid #6F63DE;
}
