@import '../../assets/fonts/font.css';

.header{
  display: flex;
  align-items: center;
  background-color: #f9f9fc;
  padding-left: 229.6px;
  padding-right: 162.4px;
  padding-top: 40px;
}

.header .col2{
  flex-grow: 2
}

.header .col2 ul{
  display: flex;
}

.header .col2 li{
  list-style-type: none;
  margin: 0 30px
}
.header .col2 a{
  font-family: 'Inter-Regular';
  text-decoration: none;
  color: black;
}
.header .col3{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  /* text-align: right; */
}

.header .col3 hr.top{
  width: 39px;
  border-top: 4px solid #6F63DE;
}

.header .col3 hr.bottom{
  width: 59px;
  margin-right: 20px;
  margin-top: 10px;
  border-top: 4px solid #6F63DE;
}