@import '../../assets/fonts/font.css';

.footer {
  margin: 3% 10%;
  display: flex;
}

.footer .col2 ul>li {
  list-style-type: none;
  line-height: 30px;
  font-weight: 500;
}

.footer .col2 ul>li>a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  display: block;
}

.footer .col1 {
  width: 30%;
}

.footer .col1 p {
  font-family: 'Inter-Light';
  line-height: 1.688rem;
}

.footer .col2 {
  display: flex;
  justify-content: right;
  margin-right: 50px;
  width: 40%;
}

.footer .col2 h4 {
  font-family: 'Inter-Semi-Bold';
  margin-left: 40px;
}

.footer .col3 {
  width: 30%
}

.footer .col3 h4, .col3 h5{
  font-family: 'Inter-Semi-Bold'
}

.footer .col3 p{
  font-family: 'Inter-Light';
}

.logo {
  width: 30%;
  height: 17%;
}

.footer-bottom {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}

.social a {
  font-weight: 500;
  text-decoration: none;
  color: black
}