@import '../../assets/fonts/font.css';

.footer {
  margin: 3% 10%;
  margin-top: 7rem;
  margin-left: 14.375rem;
  display: flex;
}

.footer .col2 ul{
  padding-left: 0
}
.footer .col2 ul>li {
  list-style-type: none;
  line-height: 30px;
  font-weight: 500;
}

.footer .col2 ul>li>a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  display: block;
  font-size: 0.875rem;
}

.footer .col1 {
  width: 40rem;
}

.footer .col1 p {
  font-family: 'Inter-Light';
  font-size: 0.875rem;
  line-height: 1.688rem;
  margin-right: 14rem;
}

.footer .col2 {
  display: flex;
  justify-content: right;
  width: 16rem;
}

.footer .col2 h4 {
  font-family: 'Inter-Semi-Bold';
  font-size: 0.875rem;
}

.footer .col3 {
  width: 32rem;
  margin-left: 7rem;
}

.footer .col3 h4, .col3 h5{
  font-family: 'Inter-Semi-Bold';
  font-size: 0.875rem;
}

.footer .col3 p{
  font-family: 'Inter-Light';
  font-size: 0.875rem;
}


.footer-bottom {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  margin-left: 14.375rem;
}

.terms a {
  font-weight: 500;
  font-family: 'Inter-Regular';
  text-decoration: none;
  color: black;
  font-size: .875rem;
  line-height: 1.688rem;
}

.social{
  margin-left: 14.375rem;
}

.social img{
  margin-right: 26px
}